In [1]:
import pandas as pd
print("Version: ", pd.__version__)

Version:  2.2.3

In [4]:
# Series
a = [11, 12, 2, 3, 4, 56, 78, 89, 90]
mySeries = pd.Series(a)
print(mySeries)
print("4th element at index 3:", mySeries[3])

0    11
1    12
2     2
3     3
4     4
5    56
6    78
7    89
8    90
dtype: int64
4th element at index 3: 3

In [8]:
# Labels
a = [1, 7, 4]
myVar = pd.Series(a, index = ["a", "b", "c"])
print("MyVar: ")
print(myVar)
print("MyVar[b]: ", myVar["b"])

MyVar:
a    1
b    7
c    4
dtype: int64
MyVar[b]:  7

In [ ]:
# Dictionary to Series
employee = {
    "id": 1,
    "name": "Anushka Kohli",
    "email": "anushka@gmail.com",
    "address": "Bengaluru",
    "salary": 98765432,
}
data = pd.Series(employee)
print("Data: ")
print(data, "\n")
print("id:", data["id"]) # Label created automatically based on key
print("name:", data["name"])

Data:
id                         1
name           Anushka Kohli
email      anushka@gmail.com
address            Bengaluru
salary              98765432
dtype: object

id: 1
name: Anushka Kohli

In [20]:
data = {
    "Name": ["Alice", "Charlie", "Bob"],
    "Age": [35, 28, 16],
    "City": ["New York", "Chicago", "Los Angeles"]
}
# Converting Dictionary into a pandas Dataframe
df = pd.DataFrame(data)
# Displaying the Dataframe
print(df)

      Name  Age         City
0    Alice   35     New York
1  Charlie   28      Chicago
2      Bob   16  Los Angeles

In [21]:
# Getting the row using loc attribute
print("Getting row using loc:")
print(df.loc[0])
# Get first 2 rows
print("\nGetting first 2 rows using loc:")
print(df.loc[[0,1]])

Getting row using loc:
Name       Alice
Age           35
City    New York
Name: 0, dtype: object

Getting first 2 rows using loc:
      Name  Age      City
0    Alice   35  New York
1  Charlie   28   Chicago

In [ ]:
# Getting element at 0th row and 1st column
print("\nEle:")
print(df.iloc[0,1])

Getting first 2 rows using loc:
35

In [27]:
user_data = {
    "name": ["Alice", "Charlie", "Bob"],
    "age": [35, 28, 16],
}

df1 = pd.DataFrame(user_data, index=["user1", "user2", "user3"])
print(df1)
print()
print(df1.loc["user1"])
print()
print(df1.loc[["user1", "user2"]])

          name  age
user1    Alice   35
user2  Charlie   28
user3      Bob   16

name    Alice
age        35
Name: user1, dtype: object

          name  age
user1    Alice   35
user2  Charlie   28

In [31]:
user_data = {
    "name": ["Alice", "Charlie", "Bob"],
    "age": [35, 28, 16],
    "salary": [10000, 20000, 30000],
    "email": ["alice@gmail.com", "charlie@gmail.com", "bob@gmail.com"]
}

df1 = pd.DataFrame(user_data, columns=["name", "email", "age", "salary"])
print(df1)
# print()
# print(df1.loc["user1"])
# print()
# print(df1.loc[["user1", "user2"]])

      name              email  age  salary
0    Alice    alice@gmail.com   35   10000
1  Charlie  charlie@gmail.com   28   20000
2      Bob      bob@gmail.com   16   30000

In [ ]:
data = [
    ["Alice", 25, "New York"],
    ["Bob", 30, "Chicago"],
    ["Charlie", 35, "Los Angeles"],
    ["David", 40, "San Francisco"]
]

df = pd.DataFrame(data, columns=["Name", "Age", "City"])
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30        Chicago
2  Charlie   35    Los Angeles
3    David   40  San Francisco

In [ ]:
# Use https://mockaroo.com/ to generate dummy data
student_data = pd.read_csv("data.csv") # Reads data from CSV file
print(student_data)
print(student_data.head(3)) # Display first 3 rows - data is converted into string
student_data.head() # Display first 5 rows - data is showed as table

    id              name                      email      gender  grade
0    1     Dwight Kewish         dkewish0@naver.com        Male    3.4
1    2     Brandice Cast       bcast1@discovery.com      Female    7.5
2    3    Leese Werrilow   lwerrilow2@tuttocitta.it      Female    9.7
3    4   Cathryn Shivell       cshivell3@usnews.com      Female    3.1
4    5    Kellyann Irnys          kirnys4@alexa.com      Female    4.2
..  ..               ...                        ...         ...    ...
92  93  Nannie Summerlee  nsummerlee2k@bandcamp.com      Female    9.6
93  94    Eugenius Saxby       esaxby2l@sina.com.cn        Male    2.1
94  95   Raimondo Scruby        rscruby2m@yahoo.com        Male    7.5
95  96     Hersh Kleiser       hkleiser2n@wikia.com        Male    6.4
96  97    Morna Wetherby    mwetherby2o@harvard.edu  Non-binary    6.8

[97 rows x 5 columns]
   id            name                     email  gender  grade
0   1   Dwight Kewish        dkewish0@naver.com    Male    3.4
1   2   Brandice Cast      bcast1@discovery.com  Female    7.5
2   3  Leese Werrilow  lwerrilow2@tuttocitta.it  Female    9.7

   id             name                     email  gender  grade
0   1    Dwight Kewish        dkewish0@naver.com    Male    3.4
1   2    Brandice Cast      bcast1@discovery.com  Female    7.5
2   3   Leese Werrilow  lwerrilow2@tuttocitta.it  Female    9.7
3   4  Cathryn Shivell      cshivell3@usnews.com  Female    3.1
4   5   Kellyann Irnys         kirnys4@alexa.com  Female    4.2

In [39]:
# To print all the data
print(student_data.to_string())

    id                name                            email       gender  grade
0    1       Dwight Kewish               dkewish0@naver.com         Male    3.4
1    2       Brandice Cast             bcast1@discovery.com       Female    7.5
2    3      Leese Werrilow         lwerrilow2@tuttocitta.it       Female    9.7
3    4     Cathryn Shivell             cshivell3@usnews.com       Female    3.1
4    5      Kellyann Irnys                kirnys4@alexa.com       Female    4.2
5    6     Clemens Fairley            cfairley5@foxnews.com         Male    8.8
6    7   Terri-jo Mollison             tmollison6@yahoo.com       Female    2.4
7    8     Heida Riddiough              hriddiough7@wsj.com       Female    5.9
8    9       Linus Morgans                 lmorgans8@go.com         Male    5.4
9   10       Lorna Sirette         lsirette9@whitehouse.gov       Female    5.3
10  11  Benedetto Stanaway            bstanawaya@rambler.ru         Male    1.4
11  12        Duncan Mantz               dmantzb@oracle.com         Male    5.1
12  13        Kris Larmour              klarmourc@jimdo.com       Female    5.9
13  14      Corena Cutajar         ccutajard@thetimes.co.uk       Female    3.7
14  15           Birk Donn                  bdonne@narod.ru   Polygender    4.4
15  16        Erika Vasler          evaslerf@soundcloud.com       Female    2.8
16  17      Rafael Carayol         rcarayolg@guardian.co.uk  Genderqueer    3.7
17  18        Ida Kirtland           ikirtlandh@cornell.edu       Female    9.3
18  19     Michal Casserly               mcasserlyi@cnn.com         Male    6.8
19  20  Saundra De Zamudio               sdej@newyorker.com       Female    8.2
20  21     Royce Apfelmann            rapfelmannk@yandex.ru         Male    7.2
21  22        Barbe Shaves                  bshavesl@un.org       Female    3.0
22  23     Jeralee Bolesma              jbolesmam@mysql.com       Female    8.6
23  24       Gordan Pitone                gpitonen@blog.com         Male    3.6
24  25     Gizela Gillison    ggillisono@barnesandnoble.com       Female    7.9
25  26   Madison Haversham     mhavershamp@businessweek.com         Male    1.7
26  27       Arlette Celiz             acelizq@illinois.edu       Female    4.3
27  28       Rosita Burgis                 rburgisr@wix.com       Female    6.2
28  29       Roddy Norheny            rnorhenys@nbcnews.com         Male    1.4
29  30      Lamont Patroni                lpatronit@psu.edu         Male    1.8
30  31     Byrann Gillyatt             bgillyattu@chron.com         Male    9.6
31  32        Joela Mattke                  jmattkev@gov.uk       Female    7.5
32  33       Joyce Poynzer                  jpoynzerw@51.la       Female    8.8
33  34         Pru Barwick            pbarwickx@blogger.com       Female    1.2
34  35      Wendeline Dann                 wdanny@google.de       Female    5.7
35  36          Iris Basil                 ibasilz@army.mil       Female    8.4
36  37   Dennie Kenningley        dkenningley10@mozilla.com         Male    1.5
37  38        Lee Daintree  ldaintree11@creativecommons.org         Male    2.9
38  39         Jobi Cheeke               jcheeke12@dell.com  Genderqueer    5.8
39  40        Albert Segge       asegge13@blogtalkradio.com         Male    3.7
40  41       Gaven Pancast             gpancast14@naver.com         Male    5.1
41  42       Reider Middup        rmiddup15@dagondesign.com         Male    1.1
42  43       Tabbie Orbell          torbell16@microsoft.com       Female    2.6
43  44      Archy Heineken       aheineken17@bravesites.com         Male    6.3
44  45     Jackson Bedward               jbedward18@ask.com         Male    4.0
45  46          Elmer Muir                   emuir19@hp.com         Male    4.7
46  47         Killian Ash            kash1a@deviantart.com         Male    9.7
47  48      Dallas Lusgdin         dlusgdin1b@canalblog.com     Bigender    3.9
48  49       Forrest Woolf        fwoolf1c@wunderground.com         Male    8.1
49  50       Lianne Gorgen            lgorgen1d@twitter.com       Female    3.6
50  51          Davida Gue               dgue1e@tinypic.com       Female    7.5
51  52          Sly Lillie             slillie1f@smh.com.au         Male    8.7
52  53       Garvy Beagles          gbeagles1g@cbslocal.com         Male    2.9
53  54    Crissie Spackman         cspackman1h@amazon.co.uk       Female    3.3
54  55        Ginger Acuna                 gacuna1i@aol.com         Male    4.7
55  56    Roarke Haddinton             rhaddinton1j@ucoz.ru         Male    8.6
56  57       Jenn Mulliner         jmulliner1k@trellian.com       Female    7.7
57  58         Homere Bier                  hbier1l@cdc.gov         Male    3.0
58  59   Emlen Saterthwait         esaterthwait1m@jigsy.com         Male    4.0
59  60    Ann-marie Greeve                 agreeve1n@nhs.uk       Female    3.1
60  61       Lindsay Tesoe         ltesoe1o@hugedomains.com       Female    3.9
61  62           Wade Jory          wjory1p@telegraph.co.uk         Male    6.2
62  63    Annemarie Dickon                 adickon1q@a8.net       Female    4.2
63  64     Anne McIlwreath        amcilwreath1r@shop-pro.jp       Female    1.3
64  65     Mariann Pleavin              mpleavin1s@etsy.com       Female    6.7
65  66     Wendye Aiskrigg            waiskrigg1t@bbc.co.uk       Female    2.5
66  67   Gayler Schumacher       gschumacher1u@mapquest.com         Male    3.2
67  68      Fremont Climer              fclimer1v@bbc.co.uk         Male    2.1
68  69        Nikos Moston               nmoston1w@dmoz.org         Male    8.3
69  70        Bebe McManus               bmcmanus1x@usa.gov       Female    9.2
70  71     Carlie Georgins             cgeorgins1y@usda.gov       Female    1.6
71  72        Prue McAline          pmcaline1z@usatoday.com       Female    2.0
72  73      Ewen Shillitoe            eshillitoe20@dmoz.org         Male    5.2
73  74           Max Milby              mmilby21@flickr.com       Female    7.6
74  75  William O'Sheeryne           wosheeryne22@nymag.com         Male    4.2
75  76     Priscella Grave              pgrave23@utexas.edu       Female    3.4
76  77       Norby Couzens          ncouzens24@amazon.co.jp         Male    3.2
77  78       Ritchie Detoc               rdetoc25@state.gov         Male    8.1
78  79        Orion Huglin          ohuglin26@posterous.com         Male    7.4
79  80       Donnell Oriel              doriel27@uol.com.br         Male    3.3
80  81       Sean Paolotto              spaolotto28@icq.com         Male    9.2
81  82    Carlyle McGivena             cmcgivena29@narod.ru         Male    9.9
82  83         Currey Birt               cbirt2a@netlog.com  Genderqueer    4.3
83  84     Kalie Studholme      kstudholme2b@purevolume.com       Female    2.8
84  85      Lionello Malia                 lmalia2c@irs.gov         Male    8.8
85  86         Rivi Meegan                 rmeegan2d@un.org       Female    9.3
86  87      Monah McKeeman            mmckeeman2e@nymag.com       Female    5.6
87  88      Lacie Luckcuck            lluckcuck2f@desdev.cn       Female    6.4
88  89      Matti O'Farris          mofarris2g@amazon.co.uk       Female    7.2
89  90    Steffane Veivers           sveivers2h@tinyurl.com     Bigender    4.0
90  91      Mollee Picford          mpicford2i@examiner.com       Female    8.1
91  92      Duffie Ferraro              dferraro2j@sohu.com         Male    4.5
92  93    Nannie Summerlee        nsummerlee2k@bandcamp.com       Female    9.6
93  94      Eugenius Saxby             esaxby2l@sina.com.cn         Male    2.1
94  95     Raimondo Scruby              rscruby2m@yahoo.com         Male    7.5
95  96       Hersh Kleiser             hkleiser2n@wikia.com         Male    6.4
96  97      Morna Wetherby          mwetherby2o@harvard.edu   Non-binary    6.8

In [ ]:
# To get the number of rows and columns
print(student_data.shape)
print()

# Summary of the dataframe
student_data.info()
print()

# Describe the data (numerical columns)
student_data.describe()

(97, 5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      97 non-null     int64
 1   name    97 non-null     object
 2   email   97 non-null     object
 3   gender  97 non-null     object
 4   grade   97 non-null     float64
dtypes: float64(1), int64(1), object(3)
memory usage: 3.9+ KB

              id      grade
count  97.000000  97.000000
mean   49.000000   5.324742
std    28.145456   2.560031
min     1.000000   1.100000
25%    25.000000   3.200000
50%    49.000000   5.100000
75%    73.000000   7.500000
max    97.000000   9.900000

In [ ]:
# Get single column
print(student_data["name"])

# Get multiple columns
student_data[["id", "name", "email"]].head()

# Describe only grade column
student_data['grade'].describe()

0        Dwight Kewish
1        Brandice Cast
2       Leese Werrilow
3      Cathryn Shivell
4       Kellyann Irnys
            ...
92    Nannie Summerlee
93      Eugenius Saxby
94     Raimondo Scruby
95       Hersh Kleiser
96      Morna Wetherby
Name: name, Length: 97, dtype: object

count    97.000000
mean      5.324742
std       2.560031
min       1.100000
25%       3.200000
50%       5.100000
75%       7.500000
max       9.900000
Name: grade, dtype: float64